*{
    font-family: 'Karla', sans-serif;
}

body {
    background-color: white;
}
nav {
    margin: 2%;
    position: relative;
}

.side-bar{
    height: 100%;
    width: 20%;
    position: fixed;
    background-color: #CCD1D1;
    color: white;
    top: 0;
    left: 0;
    color: #273746;
}

.sidebar-text{
    margin-top: 15%;
    text-align: center;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
}


.side-bar a{
    padding-left: 10%;
    padding-right: 10%;
}

.side-bar img{
    display: block;
    border-radius: 250px;
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}

.about{
    margin-top: 10%;
    margin-bottom: 5%;
}

.contact-icons{
    margin-top: 20%;
    text-align: center;
}

.showcase-right{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    background: #f2f2f2;
    border-radius: 20px;
    box-shadow: 0 0 20px 8px #d0d0d0;
}

.showcase-right-text{
    flex-basis: 48%;
    flex-wrap: wrap;
    align-items: flex-start;
    order: 1;
    padding-left: 2%;
}

.showcase-right-img {
    flex-basis: 28%;
    order: 2;
    margin-left: 17%;
    padding: 2%;
    border-radius: 20px;
}

.showcase-right img:hover{
    transform: scale(1.2);
}


.showcase-left{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    background: #f2f2f2;
    border-radius: 20px;
}

.showcase-left-text{
    flex-basis: 50%;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-left: 8%;
    order: 2;
}

.showcase-left-img{
    flex-basis: 30%;
    order: 1;
    padding: 2% 2% 2% 0%;
    border-radius: 20px;
    
}

.showcase-left img:hover{
    transform: scale(1.2);   
}

.contact{
    display: flex;
}

.contact ul{
    display: flex;
    flex-basis: 50%;
    justify-content: flex-end;
    justify-content: space-between;
    align-content: space-between;
    list-style: none;
    text-decoration: none;
}

.contact li a{
    text-decoration: none;
}

.contact h1{
    flex-basis: 80%;
}

.sidebar-nav{
    display: none;
}

main{
    margin-left: 20%;
    padding: 0% 5%;
    font-weight: 200;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    padding-right: 2%;  
}

nav ul li{
    padding-right: 2%;
    font-weight: 400;
}

nav ul a{
    list-style: none;
    text-decoration: none;
}
img {
    width: 80%;
    margin-left: 13%;
    padding: 2%;
}

/* Tablet and under*/
@media(max-width:768px) {
    .side-bar{
        height: 45%;
        width: 100%;
        position: fixed;
        background-color: #CCD1D1;
        color: white;
        top: 0;
        left: 0;
        color: #273746;
    }
    .sidebar-text{
        margin-top: 0%;
        text-align: center;
        align-items: center;
        font-size: 20px;
        font-weight: 400;
    }
    .side-bar img{
        display: block;
        border-radius: 250px;
        margin-top: 2%;
        margin-left: auto;
        margin-right: auto;
        width: 10%;
    }
    .about{
        padding-top: 25%;
        /* margin-top: 40%; */
        margin-bottom: 5%;
    }
    .work{
        padding-top: 5%;
    }
    .contact-icons {
        display: none;
    }
    nav {
        margin-top: 0;
        display: none;
    }
    main{
        margin: 0% 5%;
        padding: 0% 5%;
        font-weight: 200;
    }
    h1{
        text-align: center;
    }
    .contact{
        display: block;
    }
    .sidebar-nav{
        display: flex;
        text-align: center;
        margin-top: -5%;
        display: inline;
    }
    nav ul {
        display: flex;
        list-style: none;
        justify-content: center;
        margin-top: -5%;  
    }
    .showcase-right{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 50px;
        background: #f2f2f2;
        border-radius: 20px;
        box-shadow: 0 0 20px 8px #d0d0d0;
    }
    .showcase-right-text{
        flex-basis: 100%;
        flex-wrap: wrap;;
        padding: 5%;
        order: 1;
    }
    .showcase-right-img {
        flex-basis: 100%;
        order: 1;
        padding-left: 2%;
        border-radius: 20px;
    }
    img {
        align-items: center;
        width: 80%;
        margin: auto;
        padding: 0%;
    }
    .showcase-left{
        display: flex;
        flex-direction: block;
        flex-wrap: wrap;
        margin-bottom: 50px;
        background: #f2f2f2;
        border-radius: 20px;
    }
    .showcase-left-text{
        flex-basis: 100%;
        flex-wrap: wrap;
        padding: 5%;
        order: 2;
    }
    .showcase-left-img{
        flex-basis: 100%;
        order: 2;
        padding-left: 15%;
        border-radius: 20px;       
    }
}

/* Mobile */
@media(max-width:480px) {
    .side-bar{
        height: 30%;
        width: 100%;
        position: fixed;
        background-color: #CCD1D1;
        color: white;
        top: 0;
        left: 0;
        color: #273746;
    }
    .sidebar-text{
        margin-top: 2%;
        text-align: center;
        align-items: center;
        font-size: 20px;
        font-weight: 400;
    }
    .side-bar img{
        display: none;
        border-radius: 250px;
        margin-top: 1%;
        margin-left: auto;
        margin-right: auto;
        width: 25%;
    }
    .about{
        padding-top: 12%;
        /* margin-top: 40%; */
        margin-bottom: 5%;
    }
    .work{
        padding-top: 5%;
    }
    .contact-icons {
        display: none;
    }
    nav {
        margin-top: 0;
        display: none;
    }
    main{
        margin: 0% 5%;
        padding: 0% 5%;
        font-weight: 200;
    }
    h1{
        text-align: center;
    }
    .contact{
        display: block;
    }
    .sidebar-nav{
        display: flex;
        text-align: center;
        margin-top: -5%;
        display: inline;
    }
    nav ul {
        display: flex;
        list-style: none;
        justify-content: center;
        margin-top: -5%;  
    }
    .showcase-right{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 50px;
        background: #f2f2f2;
        border-radius: 20px;
        box-shadow: 0 0 20px 8px #d0d0d0;
    }
    .showcase-right-text{
        flex-basis: 100%;
        flex-wrap: wrap;;
        padding: 5%;
        order: 1;
    }
    .showcase-right-img {
        flex-basis: 100%;
        order: 1;
        padding-left: 2%;
        border-radius: 20px;
    }
    img {
        align-items: center;
        width: 80%;
        margin: auto;
        padding: 2%;
    }
    .showcase-left{
        display: flex;
        flex-direction: block;
        flex-wrap: wrap;
        margin-bottom: 50px;
        background: #f2f2f2;
        border-radius: 20px;
    }
    .showcase-left-text{
        flex-basis: 100%;
        flex-wrap: wrap;
        padding: 5%;
        order: 2;
    }
    .showcase-left-img{
        flex-basis: 100%;
        order: 2;
        padding-left: 15%;
        border-radius: 20px;       
    }
}

